@import url(font-awesome.min.css);

/*
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Grid */

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row.\30 \25 > * {
    padding: 0 0 0 0em;
}

.row.\30 \25 {
    margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25 > * {
    padding: 0em 0 0 0em;
}

.row.uniform.\30 \25 {
    margin: 0em 0 -1px 0em;
}

.row > * {
    padding: 0 0 0 2em;
}

.row {
    margin: 0 0 -1px -2em;
}

.row.uniform > * {
    padding: 2em 0 0 2em;
}

.row.uniform {
    margin: -2em 0 -1px -2em;
}

.row.\32 00\25 > * {
               padding: 0 0 0 4em;
           }

.row.\32 00\25 {
               margin: 0 0 -1px -4em;
           }

.row.uniform.\32 00\25 > * {
                       padding: 4em 0 0 4em;
                   }

.row.uniform.\32 00\25 {
                       margin: -4em 0 -1px -4em;
                   }

.row.\31 50\25 > * {
               padding: 0 0 0 3em;
           }

.row.\31 50\25 {
               margin: 0 0 -1px -3em;
           }

.row.uniform.\31 50\25 > * {
                       padding: 3em 0 0 3em;
                   }

.row.uniform.\31 50\25 {
                       margin: -3em 0 -1px -3em;
                   }

.row.\35 0\25 > * {
              padding: 0 0 0 1em;
          }

.row.\35 0\25 {
              margin: 0 0 -1px -1em;
          }

.row.uniform.\35 0\25 > * {
                      padding: 1em 0 0 1em;
                  }

.row.uniform.\35 0\25 {
                      margin: -1em 0 -1px -1em;
                  }

.row.\32 5\25 > * {
              padding: 0 0 0 0.5em;
          }

.row.\32 5\25 {
              margin: 0 0 -1px -0.5em;
          }

.row.uniform.\32 5\25 > * {
                      padding: 0.5em 0 0 0.5em;
                  }

.row.uniform.\32 5\25 {
                      margin: -0.5em 0 -1px -0.5em;
                  }

.\31 2u, .\31 2u\24 {
                   width: 100%;
                   clear: none;
                   margin-left: 0;
               }

.\31 1u, .\31 1u\24 {
                   width: 91.6666666667%;
                   clear: none;
                   margin-left: 0;
               }

.\31 0u, .\31 0u\24 {
                   width: 83.3333333333%;
                   clear: none;
                   margin-left: 0;
               }

.\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}

.\38 u, .\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
}

.\37 u, .\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
}

.\36 u, .\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
}

.\35 u, .\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
}

.\34 u, .\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
}

.\33 u, .\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
}

.\32 u, .\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 u, .\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
}

.\31 2u\24 + *,
      .\31 1u\24 + *,
            .\31 0u\24 + *,
                  .\39 u\24 + *,
                  .\38 u\24 + *,
                  .\37 u\24 + *,
                  .\36 u\24 + *,
                  .\35 u\24 + *,
                  .\34 u\24 + *,
                  .\33 u\24 + *,
                  .\32 u\24 + *,
                  .\31 u\24 + * {
                      clear: left;
                  }

.\-11u {
    margin-left: 91.66667%;
}

.\-10u {
    margin-left: 83.33333%;
}

.\-9u {
    margin-left: 75%;
}

.\-8u {
    margin-left: 66.66667%;
}

.\-7u {
    margin-left: 58.33333%;
}

.\-6u {
    margin-left: 50%;
}

.\-5u {
    margin-left: 41.66667%;
}

.\-4u {
    margin-left: 33.33333%;
}

.\-3u {
    margin-left: 25%;
}

.\-2u {
    margin-left: 16.66667%;
}

.\-1u {
    margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {

    .row > * {
        padding: 0 0 0 2em;
    }

    .row {
        margin: 0 0 -1px -2em;
    }

    .row.uniform > * {
        padding: 2em 0 0 2em;
    }

    .row.uniform {
        margin: -2em 0 -1px -2em;
    }

    .row.\32 00\25 > * {
                   padding: 0 0 0 4em;
               }

    .row.\32 00\25 {
                   margin: 0 0 -1px -4em;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 4em 0 0 4em;
                       }

    .row.uniform.\32 00\25 {
                           margin: -4em 0 -1px -4em;
                       }

    .row.\31 50\25 > * {
                   padding: 0 0 0 3em;
               }

    .row.\31 50\25 {
                   margin: 0 0 -1px -3em;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 3em 0 0 3em;
                       }

    .row.uniform.\31 50\25 {
                           margin: -3em 0 -1px -3em;
                       }

    .row.\35 0\25 > * {
                  padding: 0 0 0 1em;
              }

    .row.\35 0\25 {
                  margin: 0 0 -1px -1em;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 1em 0 0 1em;
                      }

    .row.uniform.\35 0\25 {
                          margin: -1em 0 -1px -1em;
                      }

    .row.\32 5\25 > * {
                  padding: 0 0 0 0.5em;
              }

    .row.\32 5\25 {
                  margin: 0 0 -1px -0.5em;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 0.5em 0 0 0.5em;
                      }

    .row.uniform.\32 5\25 {
                          margin: -0.5em 0 -1px -0.5em;
                      }

    .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
                                   width: 100%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
                                   width: 91.6666666667%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
                                   width: 83.3333333333%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28xlarge\29 + *,
          .\31 1u\24\28xlarge\29 + *,
                .\31 0u\24\28xlarge\29 + *,
                      .\39 u\24\28xlarge\29 + *,
                      .\38 u\24\28xlarge\29 + *,
                      .\37 u\24\28xlarge\29 + *,
                      .\36 u\24\28xlarge\29 + *,
                      .\35 u\24\28xlarge\29 + *,
                      .\34 u\24\28xlarge\29 + *,
                      .\33 u\24\28xlarge\29 + *,
                      .\32 u\24\28xlarge\29 + *,
                      .\31 u\24\28xlarge\29 + * {
                          clear: left;
                      }

    .\-11u\28xlarge\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28xlarge\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28xlarge\29 {
        margin-left: 75%;
    }

    .\-8u\28xlarge\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28xlarge\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28xlarge\29 {
        margin-left: 50%;
    }

    .\-5u\28xlarge\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28xlarge\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28xlarge\29 {
        margin-left: 25%;
    }

    .\-2u\28xlarge\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28xlarge\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 1366px) {

    .row > * {
        padding: 0 0 0 1.5em;
    }

    .row {
        margin: 0 0 -1px -1.5em;
    }

    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }

    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }

    .row.\32 00\25 > * {
                   padding: 0 0 0 3em;
               }

    .row.\32 00\25 {
                   margin: 0 0 -1px -3em;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 3em 0 0 3em;
                       }

    .row.uniform.\32 00\25 {
                           margin: -3em 0 -1px -3em;
                       }

    .row.\31 50\25 > * {
                   padding: 0 0 0 2.25em;
               }

    .row.\31 50\25 {
                   margin: 0 0 -1px -2.25em;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 2.25em 0 0 2.25em;
                       }

    .row.uniform.\31 50\25 {
                           margin: -2.25em 0 -1px -2.25em;
                       }

    .row.\35 0\25 > * {
                  padding: 0 0 0 0.75em;
              }

    .row.\35 0\25 {
                  margin: 0 0 -1px -0.75em;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 0.75em 0 0 0.75em;
                      }

    .row.uniform.\35 0\25 {
                          margin: -0.75em 0 -1px -0.75em;
                      }

    .row.\32 5\25 > * {
                  padding: 0 0 0 0.375em;
              }

    .row.\32 5\25 {
                  margin: 0 0 -1px -0.375em;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 0.375em 0 0 0.375em;
                      }

    .row.uniform.\32 5\25 {
                          margin: -0.375em 0 -1px -0.375em;
                      }

    .\31 2u\28large\29, .\31 2u\24\28large\29 {
                                  width: 100%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\31 1u\28large\29, .\31 1u\24\28large\29 {
                                  width: 91.6666666667%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\31 0u\28large\29, .\31 0u\24\28large\29 {
                                  width: 83.3333333333%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\39 u\28large\29, .\39 u\24\28large\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28large\29, .\38 u\24\28large\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28large\29, .\37 u\24\28large\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28large\29, .\36 u\24\28large\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28large\29, .\35 u\24\28large\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28large\29, .\34 u\24\28large\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28large\29, .\33 u\24\28large\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28large\29, .\32 u\24\28large\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28large\29, .\31 u\24\28large\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28large\29 + *,
          .\31 1u\24\28large\29 + *,
                .\31 0u\24\28large\29 + *,
                      .\39 u\24\28large\29 + *,
                      .\38 u\24\28large\29 + *,
                      .\37 u\24\28large\29 + *,
                      .\36 u\24\28large\29 + *,
                      .\35 u\24\28large\29 + *,
                      .\34 u\24\28large\29 + *,
                      .\33 u\24\28large\29 + *,
                      .\32 u\24\28large\29 + *,
                      .\31 u\24\28large\29 + * {
                          clear: left;
                      }

    .\-11u\28large\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28large\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28large\29 {
        margin-left: 75%;
    }

    .\-8u\28large\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28large\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28large\29 {
        margin-left: 50%;
    }

    .\-5u\28large\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28large\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28large\29 {
        margin-left: 25%;
    }

    .\-2u\28large\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28large\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 980px) {

    .row > * {
        padding: 0 0 0 1.5em;
    }

    .row {
        margin: 0 0 -1px -1.5em;
    }

    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }

    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }

    .row.\32 00\25 > * {
                   padding: 0 0 0 3em;
               }

    .row.\32 00\25 {
                   margin: 0 0 -1px -3em;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 3em 0 0 3em;
                       }

    .row.uniform.\32 00\25 {
                           margin: -3em 0 -1px -3em;
                       }

    .row.\31 50\25 > * {
                   padding: 0 0 0 2.25em;
               }

    .row.\31 50\25 {
                   margin: 0 0 -1px -2.25em;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 2.25em 0 0 2.25em;
                       }

    .row.uniform.\31 50\25 {
                           margin: -2.25em 0 -1px -2.25em;
                       }

    .row.\35 0\25 > * {
                  padding: 0 0 0 0.75em;
              }

    .row.\35 0\25 {
                  margin: 0 0 -1px -0.75em;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 0.75em 0 0 0.75em;
                      }

    .row.uniform.\35 0\25 {
                          margin: -0.75em 0 -1px -0.75em;
                      }

    .row.\32 5\25 > * {
                  padding: 0 0 0 0.375em;
              }

    .row.\32 5\25 {
                  margin: 0 0 -1px -0.375em;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 0.375em 0 0 0.375em;
                      }

    .row.uniform.\32 5\25 {
                          margin: -0.375em 0 -1px -0.375em;
                      }

    .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
                                   width: 100%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
                                   width: 91.6666666667%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
                                   width: 83.3333333333%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\39 u\28medium\29, .\39 u\24\28medium\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28medium\29, .\38 u\24\28medium\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28medium\29, .\37 u\24\28medium\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28medium\29, .\36 u\24\28medium\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28medium\29, .\35 u\24\28medium\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28medium\29, .\34 u\24\28medium\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28medium\29, .\33 u\24\28medium\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28medium\29, .\32 u\24\28medium\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28medium\29, .\31 u\24\28medium\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28medium\29 + *,
          .\31 1u\24\28medium\29 + *,
                .\31 0u\24\28medium\29 + *,
                      .\39 u\24\28medium\29 + *,
                      .\38 u\24\28medium\29 + *,
                      .\37 u\24\28medium\29 + *,
                      .\36 u\24\28medium\29 + *,
                      .\35 u\24\28medium\29 + *,
                      .\34 u\24\28medium\29 + *,
                      .\33 u\24\28medium\29 + *,
                      .\32 u\24\28medium\29 + *,
                      .\31 u\24\28medium\29 + * {
                          clear: left;
                      }

    .\-11u\28medium\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28medium\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28medium\29 {
        margin-left: 75%;
    }

    .\-8u\28medium\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28medium\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28medium\29 {
        margin-left: 50%;
    }

    .\-5u\28medium\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28medium\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28medium\29 {
        margin-left: 25%;
    }

    .\-2u\28medium\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28medium\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 736px) {

    .row > * {
        padding: 0 0 0 1.25em;
    }

    .row {
        margin: 0 0 -1px -1.25em;
    }

    .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
    }

    .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
    }

    .row.\32 00\25 > * {
                   padding: 0 0 0 2.5em;
               }

    .row.\32 00\25 {
                   margin: 0 0 -1px -2.5em;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 2.5em 0 0 2.5em;
                       }

    .row.uniform.\32 00\25 {
                           margin: -2.5em 0 -1px -2.5em;
                       }

    .row.\31 50\25 > * {
                   padding: 0 0 0 1.875em;
               }

    .row.\31 50\25 {
                   margin: 0 0 -1px -1.875em;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 1.875em 0 0 1.875em;
                       }

    .row.uniform.\31 50\25 {
                           margin: -1.875em 0 -1px -1.875em;
                       }

    .row.\35 0\25 > * {
                  padding: 0 0 0 0.625em;
              }

    .row.\35 0\25 {
                  margin: 0 0 -1px -0.625em;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 0.625em 0 0 0.625em;
                      }

    .row.uniform.\35 0\25 {
                          margin: -0.625em 0 -1px -0.625em;
                      }

    .row.\32 5\25 > * {
                  padding: 0 0 0 0.3125em;
              }

    .row.\32 5\25 {
                  margin: 0 0 -1px -0.3125em;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 0.3125em 0 0 0.3125em;
                      }

    .row.uniform.\32 5\25 {
                          margin: -0.3125em 0 -1px -0.3125em;
                      }

    .\31 2u\28small\29, .\31 2u\24\28small\29 {
                                  width: 100%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\31 1u\28small\29, .\31 1u\24\28small\29 {
                                  width: 91.6666666667%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\31 0u\28small\29, .\31 0u\24\28small\29 {
                                  width: 83.3333333333%;
                                  clear: none;
                                  margin-left: 0;
                              }

    .\39 u\28small\29, .\39 u\24\28small\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28small\29, .\38 u\24\28small\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28small\29, .\37 u\24\28small\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28small\29, .\36 u\24\28small\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28small\29, .\35 u\24\28small\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28small\29, .\34 u\24\28small\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28small\29, .\33 u\24\28small\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28small\29, .\32 u\24\28small\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28small\29, .\31 u\24\28small\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28small\29 + *,
          .\31 1u\24\28small\29 + *,
                .\31 0u\24\28small\29 + *,
                      .\39 u\24\28small\29 + *,
                      .\38 u\24\28small\29 + *,
                      .\37 u\24\28small\29 + *,
                      .\36 u\24\28small\29 + *,
                      .\35 u\24\28small\29 + *,
                      .\34 u\24\28small\29 + *,
                      .\33 u\24\28small\29 + *,
                      .\32 u\24\28small\29 + *,
                      .\31 u\24\28small\29 + * {
                          clear: left;
                      }

    .\-11u\28small\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28small\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28small\29 {
        margin-left: 75%;
    }

    .\-8u\28small\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28small\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28small\29 {
        margin-left: 50%;
    }

    .\-5u\28small\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28small\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28small\29 {
        margin-left: 25%;
    }

    .\-2u\28small\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28small\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 480px) {

    .row > * {
        padding: 0 0 0 1.25em;
    }

    .row {
        margin: 0 0 -1px -1.25em;
    }

    .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
    }

    .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
    }

    .row.\32 00\25 > * {
                   padding: 0 0 0 2.5em;
               }

    .row.\32 00\25 {
                   margin: 0 0 -1px -2.5em;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 2.5em 0 0 2.5em;
                       }

    .row.uniform.\32 00\25 {
                           margin: -2.5em 0 -1px -2.5em;
                       }

    .row.\31 50\25 > * {
                   padding: 0 0 0 1.875em;
               }

    .row.\31 50\25 {
                   margin: 0 0 -1px -1.875em;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 1.875em 0 0 1.875em;
                       }

    .row.uniform.\31 50\25 {
                           margin: -1.875em 0 -1px -1.875em;
                       }

    .row.\35 0\25 > * {
                  padding: 0 0 0 0.625em;
              }

    .row.\35 0\25 {
                  margin: 0 0 -1px -0.625em;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 0.625em 0 0 0.625em;
                      }

    .row.uniform.\35 0\25 {
                          margin: -0.625em 0 -1px -0.625em;
                      }

    .row.\32 5\25 > * {
                  padding: 0 0 0 0.3125em;
              }

    .row.\32 5\25 {
                  margin: 0 0 -1px -0.3125em;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 0.3125em 0 0 0.3125em;
                      }

    .row.uniform.\32 5\25 {
                          margin: -0.3125em 0 -1px -0.3125em;
                      }

    .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
                                   width: 100%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
                                   width: 91.6666666667%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
                                   width: 83.3333333333%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28xsmall\29 + *,
          .\31 1u\24\28xsmall\29 + *,
                .\31 0u\24\28xsmall\29 + *,
                      .\39 u\24\28xsmall\29 + *,
                      .\38 u\24\28xsmall\29 + *,
                      .\37 u\24\28xsmall\29 + *,
                      .\36 u\24\28xsmall\29 + *,
                      .\35 u\24\28xsmall\29 + *,
                      .\34 u\24\28xsmall\29 + *,
                      .\33 u\24\28xsmall\29 + *,
                      .\32 u\24\28xsmall\29 + *,
                      .\31 u\24\28xsmall\29 + * {
                          clear: left;
                      }

    .\-11u\28xsmall\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28xsmall\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28xsmall\29 {
        margin-left: 75%;
    }

    .\-8u\28xsmall\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28xsmall\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28xsmall\29 {
        margin-left: 50%;
    }

    .\-5u\28xsmall\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28xsmall\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28xsmall\29 {
        margin-left: 25%;
    }

    .\-2u\28xsmall\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28xsmall\29 {
        margin-left: 8.33333%;
    }

}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

body {
    background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* Type */

body {
    background-color: #fff;
    color: #777;
}

body, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: normal;
    line-height: 2;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 13.5pt;
    }

}

@media screen and (max-width: 1366px) {

    body, input, select, textarea {
        font-size: 12.5pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 11.5pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 11.5pt;
    }

}

a {
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-decoration: underline;
}

a:hover {
    color: #00BC8A !important;
    text-decoration: none;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    border-radius: 0;
    border: solid 1px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

input, select, textarea {
    color: #666;
}

a {
    color: #00BC8A;
}

strong, b {
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
}

blockquote {
    border-left-color: rgba(144, 144, 144, 0.25);
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

/* Box */

.box {
    border-radius: 0;
    border: solid 1px;
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.box {
    border-color: rgba(144, 144, 144, 0.25);
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    height: 3.5em;
    letter-spacing: 0.1em;
    line-height: 3.65em;
    padding: 0 3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1.35em;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}

@media screen and (max-width: 480px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }

}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: #fafafa;
    color: #666 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: white;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: #ededed;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #666 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
    color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #00BC8A;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #00d69d;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #00a377;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    border-radius: 0;
    border: solid 1px;
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    content: '\f00c';
}

input[type="checkbox"] + label:before {
    border-radius: 0;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    opacity: 1.0;
}

:-moz-placeholder {
    opacity: 1.0;
}

::-moz-placeholder {
    opacity: 1.0;
}

:-ms-input-placeholder {
    opacity: 1.0;
}

.formerize-placeholder {
    opacity: 1.0;
}

label {
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #00BC8A;
    box-shadow: 0 0 0 1px #00BC8A;
}

.select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: #777;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background-color: #00BC8A;
    border-color: #00BC8A;
    color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #00BC8A;
    box-shadow: 0 0 0 1px #00BC8A;
}

::-webkit-input-placeholder {
    color: #bbb !important;
}

:-moz-placeholder {
    color: #bbb !important;
}

::-moz-placeholder {
    color: #bbb !important;
}

:-ms-input-placeholder {
    color: #bbb !important;
}

.formerize-placeholder {
    color: #bbb !important;
}

form.alt input[type="text"],
form.alt input[type="password"],
form.alt input[type="email"],
form.alt select,
form.alt textarea {
    background-color: transparent;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0;
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.special {
    text-align: center;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.checklist {
    list-style: none;
    padding-left: 0;
}

ul.checklist li {
    text-decoration: none;
    margin-bottom: 1.5em;
    padding-left: 0;
}

ul.checklist li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.checklist li:before {
    content: '\f00c';
    margin-right: 0.75em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

ul.contact {
    list-style: none;
    padding: 0;
}

ul.contact li {
    text-decoration: none;
    padding: 0.65em 0 0 2em;
}

ul.contact li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.contact li:before {
    float: left;
    margin-left: -2em;
}

ul.contact li:first-child {
    padding-top: 0;
}

ul.contact li a {
    color: inherit;
    text-decoration: none;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

form ul.actions {
    margin-top: 2em;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {

    ul.actions {
        margin: 0 0 2em 0;
    }

    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }

    ul.actions li > *.icon:before {
        margin-left: -2em;
    }

    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }

    ul.actions.small li:first-child {
        padding-top: 0;
    }

}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: bold;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

ul.alt li {
    border-top-color: rgba(144, 144, 144, 0.25);
}

ul.checklist li:before {
    color: #00BC8A;
}

ul.contact li:before {
    color: #00BC8A;
}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

header p {
    position: relative;
    margin: 0 0 1.5em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
}

header p {
    color: #bbb;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px;
}

table tfoot {
    border-top: solid 2px;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

table tbody tr {
    border-color: rgba(144, 144, 144, 0.25);
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

table th {
    color: #666;
}

table thead {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

table tfoot {
    border-top-color: rgba(144, 144, 144, 0.25);
}

table.alt tbody tr td {
    border-color: rgba(144, 144, 144, 0.25);
}

/* Split */

.split {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.split > * {
    width: 50%;
}

.split > *:nth-child(odd) {
    padding-right: 3em;
}

.split > *:nth-child(even) {
    padding-left: 3em;
    border-left: solid 2px;
}

.split > * > :last-child,
.split > * > :last-child > :last-child,
.split > * > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {

    .split > :nth-child(odd) {
        padding-right: 2em;
    }

    .split > :nth-child(even) {
        padding-left: 2em;
    }

}

@media screen and (max-width: 736px) {

    .split {
        padding-bottom: 0;
    }

    .split > * {
        width: 100%;
        margin-bottom: 2em;
    }

    .split > *:nth-child(odd) {
        padding-right: 0;
    }

    .split > *:nth-child(even) {
        border-left: none;
        padding-left: 0;
    }

}

.split > :nth-child(even) {
    border-left-color: rgba(144, 144, 144, 0.25);
}

/* Spotlight */

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-bottom: solid 2px;
    margin-bottom: 3em;
}

.spotlight .image {
    width: 40%;
}

.spotlight .image img {
    width: 100%;
}

.spotlight .content {
    padding: 2em 3em 0.1em 3em;
    width: 60%;
}

@media screen and (max-width: 980px) {

    .spotlight .image {
        width: 55%;
    }

    .spotlight .content {
        padding: 1.5em 2em 0.1em 2em;
        width: 45%;
    }

}

@media screen and (max-width: 736px) {

    .spotlight {
        display: block;
        margin-bottom: 2em;
    }

    .spotlight .image {
        width: 100%;
    }

    .spotlight .content {
        padding: 1em 2em 0.1em 2em;
        width: 100%;
    }

}

@media screen and (max-width: 980px) {

    .spotlight .content {
        padding: 1em 1.5em 0.1em 1.5em;
    }

}

.spotlight {
    background-color: white;
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

/* Wrapper */

.wrapper {
    padding: 5em 0 3em 0;
    position: relative;
}

.wrapper > .inner {
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    max-width: 100%;
}

.wrapper.alt {
    border-top: solid 2px;
    border-top-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 {
    background-color: #00BC8A;
    color: #bfeee1;
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
    color: #ffffff;
}

.wrapper.style1 a {
    color: #ffffff;
}

.wrapper.style1 strong, .wrapper.style1 b {
    color: #ffffff;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
    color: #ffffff;
}

.wrapper.style1 blockquote {
    border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .box {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
    background-color: #fafafa;
    color: #666 !important;
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
    background-color: white;
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
    background-color: #ededed;
}

.wrapper.style1 input[type="submit"].alt,
.wrapper.style1 input[type="reset"].alt,
.wrapper.style1 input[type="button"].alt,
.wrapper.style1 button.alt,
.wrapper.style1 .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    color: #ffffff !important;
}

.wrapper.style1 input[type="submit"].alt:hover,
.wrapper.style1 input[type="reset"].alt:hover,
.wrapper.style1 input[type="button"].alt:hover,
.wrapper.style1 button.alt:hover,
.wrapper.style1 .button.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 input[type="submit"].alt:active,
.wrapper.style1 input[type="reset"].alt:active,
.wrapper.style1 input[type="button"].alt:active,
.wrapper.style1 button.alt:active,
.wrapper.style1 .button.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type="submit"].alt.icon:before,
.wrapper.style1 input[type="reset"].alt.icon:before,
.wrapper.style1 input[type="button"].alt.icon:before,
.wrapper.style1 button.alt.icon:before,
.wrapper.style1 .button.alt.icon:before {
    color: #99e4d0;
}

.wrapper.style1 input[type="submit"].special,
.wrapper.style1 input[type="reset"].special,
.wrapper.style1 input[type="button"].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
    background-color: #ffffff;
    color: #00BC8A !important;
}

.wrapper.style1 label {
    color: #ffffff;
}

.wrapper.style1 input[type="text"],
.wrapper.style1 input[type="password"],
.wrapper.style1 input[type="email"],
.wrapper.style1 select,
.wrapper.style1 textarea {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="text"]:focus,
.wrapper.style1 input[type="password"]:focus,
.wrapper.style1 input[type="email"]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
    color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"] + label,
.wrapper.style1 input[type="radio"] + label {
    color: #bfeee1;
}

.wrapper.style1 input[type="checkbox"] + label:before,
.wrapper.style1 input[type="radio"] + label:before {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"]:checked + label:before,
.wrapper.style1 input[type="radio"]:checked + label:before {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #00BC8A;
}

.wrapper.style1 input[type="checkbox"]:focus + label:before,
.wrapper.style1 input[type="radio"]:focus + label:before {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 ::-webkit-input-placeholder {
    color: #99e4d0 !important;
}

.wrapper.style1 :-moz-placeholder {
    color: #99e4d0 !important;
}

.wrapper.style1 ::-moz-placeholder {
    color: #99e4d0 !important;
}

.wrapper.style1 :-ms-input-placeholder {
    color: #99e4d0 !important;
}

.wrapper.style1 .formerize-placeholder {
    color: #99e4d0 !important;
}

.wrapper.style1 form.alt input[type="text"],
.wrapper.style1 form.alt input[type="password"],
.wrapper.style1 form.alt input[type="email"],
.wrapper.style1 form.alt select,
.wrapper.style1 form.alt textarea {
    background-color: transparent;
}

.wrapper.style1 ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 ul.checklist li:before {
    color: #00BC8A;
}

.wrapper.style1 ul.contact li:before {
    color: #00BC8A;
}

.wrapper.style1 header p {
    color: #99e4d0;
}

.wrapper.style1 table tbody tr {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 table th {
    color: #ffffff;
}

.wrapper.style1 table thead {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tfoot {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .split > :nth-child(even) {
    border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .spotlight {
    background-color: #0affbe;
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1.alt {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 {
    background-color: #fafafa;
    color: #777;
}

.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
    color: #666;
}

.wrapper.style2 a {
    color: #00BC8A;
}

.wrapper.style2 strong, .wrapper.style2 b {
    color: #666;
}

.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
    color: #666;
}

.wrapper.style2 blockquote {
    border-left-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 code {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 .box {
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 input[type="submit"],
.wrapper.style2 input[type="reset"],
.wrapper.style2 input[type="button"],
.wrapper.style2 button,
.wrapper.style2 .button {
    background-color: #666;
    color: #fafafa !important;
}

.wrapper.style2 input[type="submit"].alt,
.wrapper.style2 input[type="reset"].alt,
.wrapper.style2 input[type="button"].alt,
.wrapper.style2 button.alt,
.wrapper.style2 .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #666 !important;
}

.wrapper.style2 input[type="submit"].alt:hover,
.wrapper.style2 input[type="reset"].alt:hover,
.wrapper.style2 input[type="button"].alt:hover,
.wrapper.style2 button.alt:hover,
.wrapper.style2 .button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style2 input[type="submit"].alt:active,
.wrapper.style2 input[type="reset"].alt:active,
.wrapper.style2 input[type="button"].alt:active,
.wrapper.style2 button.alt:active,
.wrapper.style2 .button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

.wrapper.style2 input[type="submit"].alt.icon:before,
.wrapper.style2 input[type="reset"].alt.icon:before,
.wrapper.style2 input[type="button"].alt.icon:before,
.wrapper.style2 button.alt.icon:before,
.wrapper.style2 .button.alt.icon:before {
    color: #bbb;
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
    background-color: #00BC8A;
    color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:hover,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
    background-color: #00d69d;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
    background-color: #00a377;
}

.wrapper.style2 label {
    color: #666;
}

.wrapper.style2 input[type="text"],
.wrapper.style2 input[type="password"],
.wrapper.style2 input[type="email"],
.wrapper.style2 select,
.wrapper.style2 textarea {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
    border-color: #00BC8A;
    box-shadow: 0 0 0 1px #00BC8A;
}

.wrapper.style2 .select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 input[type="checkbox"] + label,
.wrapper.style2 input[type="radio"] + label {
    color: #777;
}

.wrapper.style2 input[type="checkbox"] + label:before,
.wrapper.style2 input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 input[type="checkbox"]:checked + label:before,
.wrapper.style2 input[type="radio"]:checked + label:before {
    background-color: #00BC8A;
    border-color: #00BC8A;
    color: #ffffff;
}

.wrapper.style2 input[type="checkbox"]:focus + label:before,
.wrapper.style2 input[type="radio"]:focus + label:before {
    border-color: #00BC8A;
    box-shadow: 0 0 0 1px #00BC8A;
}

.wrapper.style2 ::-webkit-input-placeholder {
    color: #bbb !important;
}

.wrapper.style2 :-moz-placeholder {
    color: #bbb !important;
}

.wrapper.style2 ::-moz-placeholder {
    color: #bbb !important;
}

.wrapper.style2 :-ms-input-placeholder {
    color: #bbb !important;
}

.wrapper.style2 .formerize-placeholder {
    color: #bbb !important;
}

.wrapper.style2 form.alt input[type="text"],
.wrapper.style2 form.alt input[type="password"],
.wrapper.style2 form.alt input[type="email"],
.wrapper.style2 form.alt select,
.wrapper.style2 form.alt textarea {
    background-color: transparent;
}

.wrapper.style2 ul.alt li {
    border-top-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 ul.checklist li:before {
    color: #00BC8A;
}

.wrapper.style2 ul.contact li:before {
    color: #00BC8A;
}

.wrapper.style2 header p {
    color: #bbb;
}

.wrapper.style2 table tbody tr {
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style2 table th {
    color: #666;
}

.wrapper.style2 table thead {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 table tfoot {
    border-top-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 table.alt tbody tr td {
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 .split > :nth-child(even) {
    border-left-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2 .spotlight {
    background-color: white;
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style2.alt {
    border-top-color: rgba(144, 144, 144, 0.25);
}

@media screen and (max-width: 1366px) {

    .wrapper {
        padding: 4em 2.5em 2em 2.5em;
    }

}

@media screen and (max-width: 980px) {

    .wrapper {
        padding: 4em 2em 2em 2em;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        padding: 3em 2em 1em 2em;
    }

}

@media screen and (max-width: 480px) {

    .wrapper {
        padding: 3em 2em 1em 2em;
    }

}

/* Banner */

#banner {
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
    background-size: 100px 100px, cover;
    color: rgba(255, 255, 255, 0.5);
    padding: 14em 0 4em;
}

#banner h2 {
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 0;
    color: #fff;
}

#banner p {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

#banner > .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    width: 100%;
}

@media screen and (max-width: 1366px) {

    #banner {
        padding: 10em 2.5em 3em;
    }

    #banner h2 {
        font-size: 2em;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        padding: 10em 2em 2em;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 8em 2em 2em;
    }

    #banner h2 {
        font-size: 1.75em;
    }

    #banner p {
        font-size: 1.1em;
    }

}

@media screen and (max-width: 480px) {

    #banner {
        padding: 8em 2em 2em;
    }

}

/* Main */

#main {
    padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {

    #main {
        padding: 3em 0 1em 0;
    }

}

/* Footer */

#footer {
    background-color: #fafafa;
    border-top: solid 2px rgba(144, 144, 144, 0.25);
    color: #777;
}

#footer .copyright {
    color: #bbb;
    font-size: 0.9em;
    padding: 4em 2em;
    text-align: center;
}

#footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 980px) {

    #footer .copyright {
        padding: 3em 2em;
    }

}

@media screen and (max-width: 736px) {

    #footer .copyright li {
        display: block;
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }

}

@media screen and (max-width: 480px) {

    #footer .copyright {
        padding: 2em 1em;
    }

}