<!DOCTYPE HTML>
<html>
<head>
    <title>Hacker news</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<div class="container">
<section id="banner">
    <div class="inner split">
        <section>
            <h2>Welcome to Hacker news template</h2>
        </section>
        <section>
            <p>Here you can find latest news from IT world, Enjoy!</p>
        </section>
    </div>
</section>
<section id="two" class="wrapper style2 alt">
    <div class="inner">
        {% for newsInfo in newsInfoList %}
        <div class="spotlight">
            <div class="image">
                <img src="images/pic01.jpg" alt="" />
            </div>
            <div class="content">
                <h3>{{ newsInfo.title }}</h3>
                <p>{{ newsInfo.body }}</p>
                <ul class="actions">
                    {{ newsInfo.score }} points | {{ newsInfo.kids|length }} comments
                </ul>
            </div>
        </div>
        {% endfor %}
        <ul class="actions special">
            <li><a href="#" class="button alt">{{ newsInfo.url }}</a></li>
        </ul>
    </div>
</section>

<footer id="footer">
    <div class="copyright">
        &copy; Untitled. All rights reserved.
    </div>
</footer>
</div>
</body>
</html>